@font-face {
    font-family: MonkeyIslandFont;
    src: url(fonts/MonkeyIsland-1990.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(Coolvetica\ Rg.otf);
}

@font-face {
    font-family: Escape;
    src: url(fonts/efmi.TTF);
}

@font-face {
    font-family: Goodluck;
    src: url(fonts/GoodluckBeautiful.ttf);
}

@font-face {
    font-family: ScummCredits;
    src: url(fonts/lucasarts-scumm-credits.otf);
}

@font-face {
    font-family: Weathered;
    src: url(fonts/WEATHERD.TTF);
}

@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Bold.ttf);
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
    font-weight:normal;
    font-style:italic;
}

@font-face {
    font-family: Atkinson;
    src: url(fonts/AtkinsonHyperlegible-BoldItalic.ttf);
    font-weight:bold;
    font-style:italic;
}

@font-face {
    font-family: SpaceMono;
    src: url(fonts/SpaceMono-Regular.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: SpaceMono;
    src: url(fonts/SpaceMono-Bold.ttf);
    font-weight:bold;
    font-style:normal;
}

body {
    margin:0px;
    margin-bottom:64px;
    background:#1e1e2e;
    color:#cdd6f4;
}

p {
    font-family: Atkinson;
    font-size: 18px;
    line-height: 26px;

    width:95%;
    max-width: 1000px;
    margin:auto;
    margin-top: 18px;
    margin-bottom: 18px;
    text-indent: 32px;
}
.doubleindent {
    text-indent: 64px;
}
.code {
    text-indent: 0px;
    font-family: SpaceMono;
    font-weight: bold;
    max-width:900px;
    font-size:18px;
    background-color: #181825;
    padding:16px;
    border-radius: 16px;
}

.code_container {
    background-color: #181825;
    border-radius: 30px;
    height:300px;
}

var {
    color: #f38ba8;
    font-style:normal;
}
str {
    color: #a6e3a1;
}

h1 {
    font-family: MonkeyIslandFont;
    text-align:center;
    font-size: 48px;
    font-weight: normal;
    color:#89b4fa
}

h2 {
    font-family: MonkeyIslandFont;
    text-align:center;
    font-size:32px;
    font-weight: normal;
    margin-top:120px;
    color:#f5c2e7
}

img {
    display:block;
    margin:auto;
    image-rendering: pixelated;
}
.normal_image {
    image-rendering:auto;
    max-width: 100%;
}
.pixel_image {
    max-width: 100%;
}
.header_image {
    width: 100%;
}
.screenshot {
    width: 960px;
    max-width: 100%;
    aspect-ratio: 1.3333;
}
.forest_map_screenshot {
    width: 1560px;
    max-width: 100%;
    aspect-ratio: 2.1667;
}


figure{
    display: block;
    margin:auto;
}

figcaption{
    font-family: Atkinson;
    font-style: italic;
    text-align: center;
    margin:auto;
    max-width: 800px;
    margin-top:5px;
    margin-bottom: 12px;
    font-size:20px;
}

iframe {
    display:block;
    margin:auto;
}

audio {
    display: block;
    margin: auto;
}

a {
    color: #89b4fa;
    text-decoration:none;
}

.nav_button {
    font-family: MonkeyIslandFont;
    font-size: 16px;
    line-height: 32px;

    margin-left: 8px;
    margin-right: 8px;
    color:#f5c2e7;

    min-width: 80px;
}

.nav_bar {
    background-color: #313244;
    min-height: 32px;
}

.nav_button_container {
    height: 32px;
    width: 32%;
    display:inline-block;
    margin:2px;

    min-width:200px;
}

.pages {
    width: 50%
}

.right_button_container {
    text-align:left;
}

.left_button_container {
    text-align:right;
}